* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    width: 1920px;
    margin: 0 auto;
}

header {
  width: 1920px;
  height: 1080px;
  background: url(./image/img-pip@2x\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 80%;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 10;
}

.header_top {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
.header_top-logo {
}

.header_top-menu--list {
  color: white;
  list-style: none;
  position: relative;
}

.header_top-menu--items{
    position: relative;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-top: 52px solid red;
    border-right: 52px solid transparent;
    border-left: 52px solid transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-bottom: 52px solid yellow;
    border-right: 52px solid transparent;
    border-left: 52px solid transparent;
    position: absolute;
    bottom: 0;
}



.arrow-lèt {
    width: 0; 
    height: 0; 
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    border-left: 52px solid green;
}


.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    border-right: 52px solid green;
}


.header_menu--item-1{
   position: absolute;
   top: -40px;
   color: white;
   font-size:14px;
   font-weight: 700;
}



