* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #1c1c1c;
}

:root {
  --color-main: #e84545;
}

.menu-mobile {
  display: none;
}

.menu-mobi-icon {
  z-index: 20;
  display: none;
}

.menu-mobi-icon-exits {
  z-index: 20;
  display: none;
}

header {
  width: 100%;
  height: calc(1080 / 1920 * 100vw);
  background: url(./image/img-pip@2x\ 1.png);
  background-size: 120%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(1080 / 1920 * 100vw);
  width: 100%;

  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 10, 10, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.header_top {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  width: 100%;
}

.header_top-logo {
  z-index: 20;
  width: 100px;
  height: 86px;
}

.header_top-logo > img {
  width: 100%;
  height: 100%;
}

.header_top-menu {
  z-index: 10;
}

.header_top-menu--list {
  color: white;
  list-style: none;
  position: relative;
  padding-right: 50px;
}

.header_top-menu--list::before {
  content: "";
  display: block;
  position: absolute;
  width: 141px;
  height: 1px;
  top: 0px;
  left: -120px;
  transform: rotate(45deg) translate(50%, 50%);
  background-color: var(--color-main);
}

.header_top-menu--list::after {
  content: "";
  display: block;
  position: absolute;
  width: 141px;
  height: 1px;
  top: 100px;
  left: -120px;
  transform: rotate(-45deg) translate(50%, 50%);
  background-color: var(--color-main);
}

.header_top-menu--items {
  width: 100%;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.arrow-down {
  width: 0;
  height: 0;
  z-index: 1;
  border-top: 52px solid transparent;
  border-right: 52px solid transparent;
  border-left: 52px solid transparent;
  position: absolute;
  left: -104px;
  top: -26px;
  transform: translate(50%, 50%);
  transition: all linear 0.5s;
}

.arrow-up {
  width: 0;
  height: 0;
  border-bottom: 52px solid transparent;
  border-right: 52px solid transparent;
  border-left: 52px solid transparent;
  position: absolute;
  transform: translate(50%, 50%);
  left: -103px;
  top: 25px;
  z-index: 1;
  transition: all linear 0.5s;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
  border-left: 52px solid transparent;
  position: absolute;
  transform: translate(50%, 50%);
  top: -50px;
  left: -75px;
  transition: all linear 0.5s;
  z-index: 1;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
  border-right: 52px solid #e84545;
  position: absolute;
  right: -52px;
  z-index: 1;
  transition: all linear 0.5s;
}

.arrow-left > input {
  position: absolute;
  top: -10px;
  right: 26px;
  width: 200px;
  background-color: transparent;
  padding: 5px;
  color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid #0c0b09;
  z-index: 5;
  visibility: hidden;
  transition: all 0.5s linear;
  opacity: 0;
}

.arrow-left .active {
  visibility: visible;
  opacity: 1;
}

.arrow-left > input::placeholder {
  color: white;
}

.arrow-left > input:focus {
  border-bottom: 1px solid #ffffff;
}

.header_menu--item-1 {
  position: absolute;
  top: -85px;
  left: -50px;
  transform: translate(50%, 50%);
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 15px;
  z-index: 10;
}

.header_menu--item-2 {
  position: absolute;
  top: -45px;
  left: -85px;
  transform: translate(50%, 50%);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  z-index: 20;
}

.header_menu--item-3 {
  position: absolute;
  top: -55px;
  right: -30px;
  transform: translate(50%, 50%);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;

  z-index: 500;
}

.header_menu--exits {
  visibility: hidden;
  position: absolute;
  top: -55px;
  right: -30px;
  transform: translate(50%, 50%);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
  z-index: 500;
}

.header_menu--item-4 {
  position: absolute;

  top: -10px;
  left: -47px;
  transform: translate(50%, 50%);
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 15px;
  z-index: 10;
}

.header_menu--links {
  position: absolute;
  top: 120px;
  left: -12px;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s linear;
}

.active2 {
  visibility: visible;
  opacity: 1;
}

.header_menu--links > li {
  margin-bottom: 10px;
}

.header_menu--links > li:hover {
  background-color: var(--color-main);
  border-radius: 50%;
}

.header_menu--links > li {
  width: 24px;
  height: 24px;
  filter: brightness(60%);
  transition: all linear 0.5s;
}

.header_menu--links > li > a > img {
  width: 100%;
  height: 100%;
}
.header_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 32px;
}

.header_bottom-left {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 10;
}

.header_bottom-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 10;
  padding-right: 75px;
}

.header_bottom-1 {
  width: 30%;
  height: 76px;
  background-color: black;
  border-left: 5px solid var(--color-main);
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-right: 59px;
}

.header_bottom-1 > h6 {
  font-size: 14px;
  color: var(--color-main);
  font-weight: 700;
  line-height: 21px;
}

.header_bottom-1 > p {
  font-size: 18px;
  color: white;
  font-weight: 700;
  line-height: 21px;
}

.header_bottom-2 {
  position: relative;
  margin-right: 592px;
  width: 40%;
}

.header_bottom-2::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -30px;
  width: 473px;
  height: 1px;
  background-color: var(--color-main);
}

.header_bottom-2::after {
  content: "";
  position: absolute;
  top: 50px;
  left: -120px;
  width: 216px;
  height: 1px;
  transform: rotate(90deg);
  background-color: var(--color-main);
}

.header_bottom-2 > h2 {
  font-size: 70px;
  font-weight: 700;
  color: var(--color-main);
  line-height: 85px;
}

.header_bottom-2 > span {
  display: block;
  color: var(--color-main);
  line-height: 21px;
  font-size: 18px;
}

.header_bottom-2 > p {
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  width: 429px;
}

.header_bottom-3 {
  margin-right: 159px;
}

.header_bottom-3 > h6 {
  font-size: 18px;
  color: var(--color-main);
  font-weight: 700;
  line-height: 21px;
}

.header_bottom-3 > p {
  font-size: 18px;
  color: white;
  font-weight: 700;
  line-height: 21px;
}

.header_bottom-4 > h6 {
  font-size: 18px;
  color: var(--color-main);
  font-weight: 700;
  line-height: 21px;
}

.header_bottom-4 > p {
  font-size: 18px;
  color: white;
  font-weight: 700;
  line-height: 21px;
}

section {
  background-color: #1c1c1c;
  overflow: hidden;
}

.section_top {
  /* margin-left: 252px; */
  width: 100%;
  height: 670px;
  position: relative;
}

.section_top-container {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  width: 90%;
  margin-left: auto;
}

.section_top-left {
  width: 40%;
  margin-right: 91px;
}

.section_top-left > .title-2 {
  display: block;
  color: white;
  font-size: 56px;
  font-weight: 600;
  margin-left: 100px;
}

.title {
  color: white;
  font-size: 56px;
  font-weight: 600;
}

.title > span {
  font-size: 160px;
  color: var(--color-main);
}

.title-2 {
  color: white;
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 45px;
}

.title-3 {
  width: 80%;

  color: white;
  line-height: 24px;
  margin-left: 100px;
  margin-bottom: 45px;
}

.title-4 {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 100px;
  cursor: pointer;
}



.title-4 > span {
  color: black;
  background-color: var(--color-main);
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 5px;
}

.title-4 > p {
  color: var(--color-main);
  font-weight: 700;
  font-size: 14px;
  transition: all 0.5s linear;
  
}

.title-4 > p:hover{
  color:white;
}

.section_top-right-container {
  display: flex;
  width: 60%;
  height: auto;
  position: relative;
}

.section_top-right {
  width: 100%;
  height: 670px;
  position: absolute;
  object-fit: cover;
  transition: all 0.5s linear;
}

/* .section_top-right:first-child {
  opacity: 1;
  transform: scale(1);
}

.section_top-right:last-child {
  opacity: 0;
  transform: scale(0);
} */

.section_top-right:first-child {
  opacity: 1;
  transform: scale(1);
}

.section_top-right:last-child {
  opacity: 0;
  transform: scale(0);
}

.section_top-right > img {
  width: 100%;
  height: 100%;
}

.section_top-bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  bottom: -670px;
  transform: translateX(-50%);
  left: 0%;
  user-select: none;
  z-index: 20;
}

.section_top-bottom > .btn-prev {
  width: 56px;
  height: 56px;
  border: 1px solid var(--color-main);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
}

.section_top-bottom > .btn-next {
  width: 56px;
  height: 56px;
  border: 1px solid var(--color-main);
  background-color: var(--color-main);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
}

.section_top-bottom > .btn-next:hover {
  background-color: var(--color-main);
}

.section_top-bottom > .btn-prev:hover {
  background-color: var(--color-main);
}

.section_content {
  width: 100%;
  position: relative;
  padding-top: 109px;
}

.section_content-img {
  width: 822px;
  height: 547px;
  margin-left: 120px;
}

.section_content-title {
  width: 864px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-size: 80px;
  color: white;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
  line-height: 110px;
}

.section_content-title-1 {
  display: flex;
  align-items: start;
}

.section_content-title-1 > p {
  font-size: 80px;
  font-weight: 700;
  color: var(--color-main);
}

.section_content-title-2 {
  display: flex;
  align-items: start;
}

.section_content-title-2 > p {
  font-size: 80px;
  font-weight: 700;
  color: var(--color-main);
}

.section_bottom {
  margin-top: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_bottom-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section_bottom-1 {
  margin-right: 101px;
  cursor: pointer;
}

.section_bottom-1 > p {
  margin-left: -10px;
  font-size: 56px;
  font-weight: 600;
  color: white;
  line-height: 68px;
}

.section_bottom-1 > p > strong {
  color: var(--color-main);
  line-height: 195px;
  font-weight: 700;
  font-size: 160px;
}

.section_bottom-1 > h1 {
  line-height: 68px;
  font-weight: 600;
  margin-left: 100px;
  font-size: 56px;
  color: white;
}

.section_bottom-2 {
  width: 416px;
  height: 416px;
  background-image: url(image/bulid.jpg);
  background-position: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 40px;
  flex-direction: column;
  border: 10px solid #464646;
  transition: all 0.5s linear;
  margin-right: 74px;
  cursor: pointer;
}

.section_bottom-2:hover {
  border: 10px solid var(--color-main);
}

.section_bottom-2::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.729);
  z-index: 1;
}

.section_bottom-2-img {
  width: 49px;
  height: 46px;
  z-index: 2;
}

.section_bottom-2-img > img {
  width: 100%;
  height: 1005;
}

.section_bottom-2 > h2 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  z-index: 2;
}

.section_bottom-2 > p {
  color: white;
  z-index: 2;
  font-size: 16px;
  line-height: 24px;
}

.section_bottom-2 > .title-4 {
  z-index: 2;
}

.section_bottom-3 {
  width: 416px;
  height: 416px;
  background: transparent;
  background-position: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 40px;
  flex-direction: column;
  border: 10px solid #464646;
  transition: all 0.5s linear;
  cursor: pointer;
}

.section_bottom-3:hover {
  border: 10px solid var(--color-main);
}

.section_bottom-3::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.729);
  z-index: 1;
}

.section_bottom-3-img {
  width: 49px;
  height: 46px;
  z-index: 2;
}

.section_bottom-3-img > img {
  width: 100%;
  height: 1005;
}

.section_bottom-3 > h2 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  z-index: 2;
}

.section_bottom-3 > p {
  color: white;
  z-index: 2;
  font-size: 16px;
  line-height: 24px;
}

.section_bottom-3 > .title-4 {
  z-index: 2;
}

.section_img {
  position: relative;
  margin-top: 130px;
  display: flex;
  width: 100%;
}

.section_img-1 {
  width: 25%;
  height: 1080px;
  position: relative;
  transition: all 1s ease;
}

.section_img-1 > .img-1-color {
  filter: grayscale(100%);
}

.section_img-1:hover {
  width: 90%;
}

.section_img-1:hover > .img-1-color {
  filter: grayscale(0%);
}

.section_img-1 > p {
 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  text-align: start;
  position: absolute;
  font-weight: 600;
  bottom: 25px;
  right: 24px;
  transform: rotate(-90deg);
  font-size: 40px;
  color: var(--color-main);
}

.section_img-1 img {
  width: 100%;
  height: 100%;
}

.section_img-2 {
  width: 25%;
  height: 1080px;
  position: relative;
  transition: all 1s ease;
}

.section_img-2:hover {
  width: 90%;
}

.section_img-2 > .img-2-color {
  filter: grayscale(100%);
}

.section_img-2:hover {
  width: 90%;
}

.section_img-2:hover > .img-2-color {
  filter: grayscale(0%);
}

.section_img-2 > p {
  text-transform: uppercase;
  text-align: start;
  position: absolute;
  font-weight: 600;
  bottom: 120px;
  right: -24px;
  transform: rotate(-90deg);
  font-size: 40px;
  color: var(--color-main);
}

.section_img-2 img {
  width: 100%;
  height: 100%;
}

.section_img-3 {
  width: 25%;
  height: 1080px;
  position: relative;
  transition: all 1s ease;
}

.section_img-3 > p {
  text-transform: uppercase;
  text-align: start;
  position: absolute;
  font-weight: 600;
  bottom: 60px;
  right: 24px;
  transform: rotate(-90deg);
  font-size: 40px;
  color: var(--color-main);
}

.section_img-3:hover {
  width: 90%;
}

.section_img-3 > .img-3-color {
  filter: grayscale(100%);
}

.section_img-3:hover {
  width: 90%;
}

.section_img-3:hover > .img-3-color {
  filter: grayscale(0%);
}

.section_img-3 img {
  width: 100%;
  height: 100%;
}

.section_img-4 {
  width: 480px;
  height: 1080px;
  position: relative;
  transition: all 1s ease;
}

.section_img-4:hover {
  width: 90%;
}

.section_img-4 > .img-4-color {
  filter: grayscale(100%);
}

.section_img-4:hover {
  width: 90%;
}

.section_img-4:hover > .img-4-color {
  filter: grayscale(0%);
}

.section_img-4 > p {
  text-transform: uppercase;
  text-align: start;
  position: absolute;
  font-weight: 600;
  bottom: 57px;
  right: 24px;
  transform: rotate(-90deg);
  font-size: 40px;
  color: var(--color-main);
}

.section_img-4 img {
  width: 100%;
  height: 100%;
}

.section_img-title {
  position: absolute;
  top: 33px;
  left: 252px;
  z-index: 10;
}

.section_img-title > p {
  color: white;
  font-size: 56px;
  font-weight: 600;
  line-height: 68px;
}

.section_img-title > p > strong {
  color: var(--color-main);
  font-size: 160px;
  font-weight: 700;
  line-height: 195px;
}

.section_img-title > h2 {
  color: white;
  font-size: 56px;
  font-weight: 600;

  margin-left: 100px;
}

.section__logo {
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__logo-container {
  display: grid;
  grid-auto-rows: minmax(50px, 1fr);
  cursor: pointer;
  grid-template-areas:
    "h1 h2 h3 h4"
    "h1 h5 h6 h7";
}

.section__logo-1 {
  text-transform: uppercase;
  grid-area: h1;
  margin-right: 72px;
  cursor: pointer;
}

.section__logo-1 > h2 {
  margin-bottom: 10px;
}

.section__logo-1 > .title-4 {
  margin-top: 50px;
}

.section__logo-2 {
  grid-area: h2;
  padding: 50px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  transition: all 0.5s linear;
}

.section__logo-2:hover {
  background: var(--color-main);
}
.section__logo-3 {
  grid-area: h3;
  padding: 50px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  transition: all 0.5s linear;
}

.section__logo-3:hover {
  background: var(--color-main);
}
.section__logo-4 {
  grid-area: h4;
  padding: 50px;
  border-bottom: 1px solid gray;
  transition: all 0.5s linear;
}

.section__logo-4:hover {
  background: var(--color-main);
}
.section__logo-5 {
  grid-area: h5;
  padding: 50px;
  border-right: 1px solid gray;
  transition: all 0.5s linear;
}
.section__logo-5:hover {
  background: var(--color-main);
}
.section__logo-6 {
  grid-area: h6;
  padding: 50px;
  border-right: 1px solid gray;
  transition: all 0.5s linear;
}

.section__logo-6:hover {
  background: var(--color-main);
}
.section__logo-7 {
  grid-area: h7;
  padding: 50px;
  transition: all 0.5s linear;
}

.section__logo-7:hover {
  background: var(--color-main);
}

.section__logo-img {
  width: 312px;
  height: 190px;
}

.section__logo-img img {
  width: 100%;
  height: 100%;
}

.section__logo-1 > p {
  color: white;
  font-size: 56px;
  font-weight: 600;
  line-height: 68px;
}

.section__logo-1 > p > strong {
  color: var(--color-main);
  font-size: 160px;
  font-weight: 700;
  line-height: 195px;
}

.section__logo-1 > h2 {
  color: white;
  font-size: 56px;
  font-weight: 600;

  margin-left: 100px;
}

footer {
  overflow: hidden;
  margin-top: 130px;
}

.footer_container {
  width: 90%;
  float: right;
  overflow: hidden;
}

.footer_top {
  display: flex;
  justify-content: center;
}

.footer_top-left {
  width: 30%;
}

.footer_top-left > img {
  width: 100%;
  height: 100%;
}

.footer_top-right {
  background-color: black;
  width: 70%;
}

.footer_top-right-title > p {
  font-size: 56px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  margin-left: 105px;
}

.footer_top-right-title > p > strong {
  font-size: 160px;
  font-weight: 700;
  color: var(--color-main);
}

.footer_top-right-content {
  width: 80%;
  float: right;
  display: flex;
  justify-content: center;
}

.footer_top-right-content-left-item {
  margin-bottom: 20px;
  width: 80%;
}
.footer_top-right-content-left {
  width: 100%;
  list-style: none;
}

.footer_top-right-content-left-item > h1,
h2 {
  font-size: 16px;
  line-height: 24px;
}

.footer_top-right-content-left-item > h1 {
  color: var(--color-main);
  font-weight: 400;
  margin-bottom: 5px;
}

.footer_top-right-content-left-item > h2 {
  color: white;
  font-weight: 400;
}

.footer_top-right-content-left-item-text {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s linear;
  cursor: pointer;
}

.footer_top-right-content-left-item-text:hover {
  background-color: #fff;
}

.footer_top-right-content-left-item-text:hover
  > .footer_top-right-content-left-item-text-1
  > p {
  color: black;
}

.footer_top-right-content-left-item-text-1 > p {
  color: white;
  font-size: 14px;
  transition: all 0.5s linear;
}

.footer_top-right-content-left-item-text-1 > h2 {
  color: var(--color-main);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer_top-right-content-left-item:nth-child(4) {
  margin: 45px 0;
}

.footer_top-right-content-left-item-find > p {
  cursor: pointer;
  color: white;
  font-weight: 700;
  margin-right: 10px;
  transition: all 0.5s linear;
}

.footer_top-right-content-left-item-find > p:hover {
  color: var(--color-main);
}

.footer_top-right-content-left-item-find {
  display: flex;
  align-items: center;
}

.footer_top-left-content-right {
  margin-bottom: 20px;
  margin-right: 50px;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 65px;
}
.footer_bottom-left {
  color: white;
}
.footer_bottom-right {
  display: flex;
  align-items: center;
}
.footer_bottom-right > h1 {
  margin-right: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer_bottom-right > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.footer_bottom-right > ul > li {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer_bottom-right > ul > li:hover {
  background-color: var(--color-main);
  color: white;
  border-radius: 50%;
  transition: all 0.5s linear;
}

.footer_bottom-right > ul > li > img {
  width: 100%;
  height: 100%;
}

.menu {
  position: absolute;
  top: 0;
  left: -100%;
  height: calc(1080 / 1920 * 100vw);
  width: 80%;
  background-color: #1c1c1c;
  z-index: 20;
  transition: all 0.8s linear;
}

.menu > ul {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  list-style: none;
}

.menu > ul > li {
  margin-bottom: 30px;
  position: relative;
}

.menu > ul > li > a {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
  text-align: start;
  color: white;
  transition: all 0.5s linear;
  position: relative;
  padding: 0 20px;
}

.menu > ul > li > a:before {
  content: "";
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  left: -60px;
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: var(--color-main);
}

.menu > ul > li > a:hover {
  color: var(--color-main);
  margin-left: 80px;
}

.menu > ul > li > a:hover::before {
  visibility: visible;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header_bottom-right {
    padding-right: 20px;
  }

  .header_bottom-2 {
    position: relative;
    margin-right: 100px;
    width: 40%;
  }

  .header_bottom-2 > h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-main);
    line-height: 85px;
  }

  .header_bottom-2 > span {
    display: block;
    color: var(--color-main);
    line-height: 21px;
    font-size: 18px;
  }

  .header_bottom-2 > p {
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    width: 100%;
  }

  .header_bottom-3 {
    margin-right: 100px;
  }

  .section_top-container {
    width: 100%;
    padding: 10px;
  }

  .section_top-left {
    width: 40%;
    margin-right: 10px;
  }

  .title > span {
    font-size: 100px;
    color: var(--color-main);
  }

  .title-3 {
    width: 100%;

    color: white;
    line-height: 24px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 45px;
  }

  .section_top-left > .title-2 {
    margin-left: 50px;
  }

  .section_top-bottom {
    
    display: flex;
    justify-content: center;
    cursor: pointer;
    bottom: -670px;
    transform: translateX(-50%);
    left: 0%;
    position: absolute;
  }

  .section_content-img {
    width: 100%;

    height: 547px;
    margin-left: 0px;
  }

  .section_content-title {
    width: 80%;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-size: 60px;
    color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    line-height: 110px;
  }

  .section_content-title-1 > p {
    font-size: 60px;
  }

  .section_content-title-2 > p {
    font-size: 60px;
  }

  .section_bottom-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
  }

  .section_bottom-1 {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .section_bottom-1 > p {
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 56px;
    font-weight: 600;
    color: white;
    line-height: 68px;
  }

  .section_bottom-1 > p > strong {
    color: var(--color-main);
    line-height: 195px;
    font-weight: 700;
    font-size: 160px;
  }

  .section_bottom-1 > h1 {
    line-height: 68px;
    font-weight: 600;
    margin-left: 0;
    font-size: 56px;
    color: white;
  }

  .section_bottom-2 {
    width: 100%;
    height: 416px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .title-4 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .section_bottom-3 {
    width: 100%;
    height: 416px;

    padding: 40px;
  }

  .section_img {
    position: relative;
    margin-top: 130px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .section_img-1 {
    width: 50%;
    height: 500px;
  }

  .section_img-1:hover {
    width: 50%;
  }

  .section_img-2 {
    width: 50%;
    height: 500px;
  }

  .section_img-2:hover {
    width: 50%;
  }

  .section_img-3 {
    width: 50%;
    height: 500px;
  }

  .section_img-3:hover {
    width: 50%;
  }

  .section_img-4 {
    width: 50%;
    height: 500px;
  }

  .section_img-4:hover {
    width: 50%;
  }

  .section_img-title {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 10;
  }

  .section_img-title > p {
    color: white;
    font-size: 50px;
    font-weight: 600;
    line-height: 68px;
  }

  .section_img-title > p > strong {
    color: var(--color-main);
    font-size: 100px;
    font-weight: 700;
    line-height: 105px;
  }

  .section_img-title > h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-left: 100px;
  }

  .section__logo-container {
    display: grid;
    grid-auto-rows: minmax(200px, 1fr);
    cursor: pointer;
    grid-template-areas:
      "h1 h1"
      "h2 h3"
      "h4 h5"
      "h6 h7";
  }

  .section__logo-1 {
    text-transform: uppercase;
    grid-area: h1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }

  .section__logo-1 > h2 {
    margin-bottom: 10px;
  }

  .section__logo-1 > .title-4 {
    position: absolute;
    left: 70%;
    top: 40%;
    margin-bottom: 500px;
  }

  .section__logo-2 {
    grid-area: h2;
    padding: 30px;
    border-bottom: 0px solid gray;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-2:hover {
    background: var(--color-main);
  }
  .section__logo-3 {
    grid-area: h3;
    padding: 30px;
    border-bottom: 0px solid gray;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-3:hover {
    background: var(--color-main);
  }
  .section__logo-4 {
    grid-area: h4;
    padding: 30px;
    border-bottom: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-4:hover {
    background: var(--color-main);
  }
  .section__logo-5 {
    grid-area: h5;
    padding: 30px;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }
  .section__logo-5:hover {
    background: var(--color-main);
  }
  .section__logo-6 {
    grid-area: h6;
    padding: 30px;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-6:hover {
    background: var(--color-main);
  }
  .section__logo-7 {
    grid-area: h7;
    padding: 30px;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-7:hover {
    background: var(--color-main);
  }

  .footer_container {
    width: 100%;
    float: right;
    overflow: hidden;
  }

  .footer_top {
    display: flex;
    justify-content: center;
    align-items: centers;
  }

  .footer_top-right-content {
    width: 100%;
    float: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
  }

  .footer_top-right {
    width: 50%;
  }

  .footer_top-left {
    width: 50%;
  }

  .footer_top-left-content-right {
    width: 100%;
  }

  .footer_top-right-title > p {
    margin-left: 0px;
  }

  .footer_top-left-content-right > iframe {
    width: 100%;
    height: 100%;
  }

  .menu-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .menu-mobi-icon {
    display: flex;
  }

  .menu-mobi-icon-exits {
    z-index: 20;
    display: none;
  }

  .menu-mobile {
    display: flex;
    justify-content: center;
    left: -100%;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    background-color: #1c1c1c;
    z-index: 20;
    transition: all 0.5s linear;
  }

  .menu-mobile > ul {
    margin-top: 50%;
    list-style: none;
  }

  .menu-mobile > ul > li {
    margin-bottom: 20px;
  }

  .menu-mobile > ul > li > a {
    text-decoration: none;
    color: white;
  }

  .menu-mobile > ul > li > input {
    width: 200px;
    background-color: transparent;
    padding: 5px;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    z-index: 5;
  }

  .menu-mobile > ul > li > input::placeholder {
    color: white;
  }

  .menu-mobile > ul > li > button {
    padding: 8px;
    outline: none;
  }

  .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .header_top-logo {
    width: 10%;
    height: auto;
  }

  .header_top-logo > img {
    width: 100%;
    height: 100%;
  }

  .header_top-menu {
    display: none;
  }

  .header_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 5px;
  }

  .header_bottom-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 10;
    margin-bottom: 20px;
  }

  .header_bottom-1 {
    width: 50%;
    height: 50px;
    background-color: transparent;
    border-left: 2px solid var(--color-main);
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-right: 30px;
  }

  .header_bottom-1 > p {
    font-size: 10px;
    color: white;
    font-weight: 700;
    line-height: 20px;
  }

  .header_bottom-2 > span {
    display: block;
    color: var(--color-main);
    line-height: 15px;
    font-size: 10px;
  }

  .header_bottom-2 {
    position: relative;
    margin-right: 0px;
    width: 50%;
  }

  .header_bottom-2 > h2 {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-main);
    line-height: 35px;
  }

  .header_bottom-2 > p {
    color: white;
    font-weight: 700;
    font-size: 10px;
    line-height: 30px;
    width: auto;
  }

  .header_bottom-2::after {
    content: "";
    position: absolute;
    top: 50px;
    left: -60px;
    width: 100px;
    height: 1px;
    transform: rotate(90deg);
    background-color: var(--color-main);
  }

  .header_bottom-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .header_bottom-3 {
    padding-left: 5px;
    width: 50%;
  }

  .header_bottom-3 > h6 {
    font-size: 14px;
    color: var(--color-main);
    font-weight: 700;
    line-height: 20px;
  }

  .header_bottom-3 > p {
    font-size: 10px;
    color: white;
    font-weight: 700;
    line-height: 21px;
  }

  .header_bottom-4 {
    width: 50%;
    margin-right: 0px;
    text-align: start;
  }

  .header_bottom-4 > h6 {
    font-size: 15px;
    color: var(--color-main);
    font-weight: 700;
    line-height: 21px;
  }

  .header_bottom-4 > p {
    font-size: 10px;
    color: white;
    font-weight: 700;
    line-height: 21px;
  }

  .menu-mobi-icon {
    z-index: 20;
  }

  .menu-mobi-icon-exits {
    z-index: 20;
    display: none;
  }

  .menu-mobi-icon > i {
    color: white;
    font-size: 20px;
    z-index: 20;
  }

  .menu-mobi-icon-exits > i {
    color: white;
    font-size: 20px;
    z-index: 20;
  }

  .section_top {
    width: 100%;
    height: auto;
    margin-bottom: 300px;
  }

  .section_top-container {
    display: flex;

    flex-direction: column;
    width: 100%;
    margin-left: auto;
  }

  .section_top-left {
    width: 100%;
    margin-right: 91px;
  }

  .section_top-right-container {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
  }

  .title > span {
    font-size: 100px;
    color: var(--color-main);
    margin-left: 80px;
  }

  .title {
    color: white;
    font-size: 30px;
    font-weight: 600;
  }

  .title-2 {
    display: block;
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 100px;
  }

  .title-3 {
    width: 100%;
    padding: 10px;
    color: white;
    line-height: 24px;
    margin-left: 0px;
    margin-bottom: 80px;
  }

  .title-4 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section_top-bottom {
    display: flex;
    justify-content: center;
    cursor: pointer;
    top: -60px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  .section_top-right {
    width: 100%;
    height: 300px;
    position: absolute;
    object-fit: cover;
    transition: all 0.5s linear;
  }

  .section_top-bottom > .btn-prev {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-main);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section_top-bottom > .btn-next {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-main);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .section_content-img {
    width: 10px;
    height: auto;
    margin-left: 0;
    display: none;
  }

  .section_content-title {
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    line-height: 40px;
  }

  .section_content-title-1 > p {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-main);
  }

  .section_content-title-2 > p {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-main);
  }

  .section_bottom-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
  }

  .section_bottom-1 {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .section_bottom {
    margin-bottom: 300px;
  }

  .section_bottom-1 > p {
    margin-right: 10px;

    font-size: 56px;
    font-weight: 600;
    color: white;
    line-height: 68px;
  }

  .section_bottom-1 > p > strong {
    color: var(--color-main);
    line-height: 195px;
    font-weight: 700;
    font-size: 100px;
  }

  .section_bottom-1 > h1 {
    line-height: 68px;
    font-weight: 600;
    margin-left: 0;
    font-size: 50px;
    color: white;
  }

  .section_bottom-2 {
    width: 100%;
    height: 400px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .title-4 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .section_bottom-3 {
    width: 100%;
    height: 400px;

    padding: 40px;
  }

  .section_bottom-2 > h2 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    z-index: 2;
  }

  .section_bottom-2 > .title-4 {
    transform: translate(-50%, -50%);
    top: 95%;
    left: 60%;
  }

  .section_bottom-3 > h2 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    z-index: 2;
  }

  .section_bottom-3 > .title-4 {
    transform: translate(-50%, -50%);
    top: 95%;
    left: 60%;
  }

  .section_img {
    position: relative;
    margin-top: 130px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .section_img-1 {
    width: 50%;
    height: 200px;
  }

  .section_img-1:hover {
    width: 50%;
  }

  .section_img-1 > p {
    text-transform: uppercase;
    text-align: start;
    position: absolute;
    font-weight: 600;
    bottom: 10px;
    right: 10px;
    transform: rotate(0deg);
    font-size: 20px;
    color: var(--color-main);
  }

  .section_img-2 {
    width: 50%;
    height: 200px;
  }

  .section_img-2:hover {
    width: 50%;
  }

  .section_img-2 > p {
    text-transform: uppercase;
    text-align: start;
    position: absolute;
    font-weight: 600;
    bottom: 10px;
    right: 10px;
    transform: rotate(0deg);
    font-size: 20px;
    color: var(--color-main);
  }

  .section_img-3 {
    width: 50%;
    height: 200px;
  }

  .section_img-3:hover {
    width: 50%;
  }

  .section_img-3 > p {
    text-transform: uppercase;
    text-align: start;
    position: absolute;
    font-weight: 600;
    bottom: 10px;
    right: 10px;
    transform: rotate(0deg);
    font-size: 20px;
    color: var(--color-main);
  }

  .section_img-4 {
    width: 50%;
    height: 200px;
  }

  .section_img-4:hover {
    width: 50%;
  }

  .section_img-4 > p {
    text-transform: uppercase;
    text-align: start;
    position: absolute;
    font-weight: 600;
    bottom: 10px;
    right: 10px;
    transform: rotate(0deg);
    font-size: 20px;
    color: var(--color-main);
  }

  .section_img-title {
    position: absolute;
    top: -50%;
    left: 0%;
    transform: translate(50%, -50%);
    z-index: 10;
  }

  .section_img-title > p {
    color: white;
    font-size: 50px;
    font-weight: 600;
    line-height: 68px;
  }

  .section_img-title > p > strong {
    color: var(--color-main);
    font-size: 100px;
    font-weight: 700;
    line-height: 105px;
  }

  .section_img-title > h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-left: 100px;
  }

  .section__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .section__logo-1 {
    text-transform: uppercase;
    grid-area: h1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }

  .section__logo-1 > h2 {
    margin-bottom: 10px;
  }

  .section__logo-1 > .title-4 {
    position: absolute;
    left: 120%;
    top: 10%;
    margin-bottom: 500px;
  }

  .section__logo-2 {
    grid-area: h2;
    padding: 30px;
    border-bottom: 0px solid gray;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-2:hover {
    background: var(--color-main);
  }
  .section__logo-3 {
    grid-area: h3;
    padding: 30px;
    border-bottom: 0px solid gray;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-3:hover {
    background: var(--color-main);
  }
  .section__logo-4 {
    grid-area: h4;
    padding: 30px;
    border-bottom: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-4:hover {
    background: var(--color-main);
  }
  .section__logo-5 {
    grid-area: h5;
    padding: 30px;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }
  .section__logo-5:hover {
    background: var(--color-main);
  }
  .section__logo-6 {
    grid-area: h6;
    padding: 30px;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-6:hover {
    background: var(--color-main);
  }
  .section__logo-7 {
    grid-area: h7;
    padding: 30px;
    border-right: 0px solid gray;
    transition: all 0.5s linear;
  }

  .section__logo-7:hover {
    background: var(--color-main);
  }

  .footer_container {
    width: 100%;
    float: none;
    overflow: hidden;
  }

  .footer_top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .footer_top-right-content {
    width: 100%;
    float: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
  }

  .footer_top-right {
    width: 100%;
  }

  .footer_top-left {
    width: 100%;
  }

  .footer_top-left-content-right {
    width: 100%;
  }

  .footer_top-right-title > p {
    margin-left: 50px;
  }

  .footer_top-right-content-left {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer_top-left-content-right > iframe {
    width: 100%;
    height: 100%;
  }

  .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px;
}

.footer_bottom-left{
  margin-bottom: 20px;
}
}
