* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    width: 1920px;
    margin: 0 auto;
}

:root{
    --color-main:#E84545;
}

header {
  width: 1920px;
  height: 1080px;
  background: url(./image/img-pip@2x\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 80%;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 10;
}

.header_top {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
.header_top-logo {
}



.header_top-menu--list {
  color: white;
  list-style: none;
  position: relative;
  padding-right: 50px;
  
}

.header_top-menu--list::before{
    content: "";
    display: block;
    position: absolute;
    width: 141px;
    height: 1px;
    top: 50%;
    left: -120px;
    transform: rotate(45deg) translate(50%,50%);
    background-color: var(--color-main);
}

.header_top-menu--list::after{
    content: "";
    display: block;
    position: absolute;
    width: 141px;
    height: 1px;
    top: 50%;
    left: -120px;
    transform: rotate(14deg) translate(50%,50%);
    background-color: var(--color-main);
}

.header_top-menu--items{
    position: relative;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-top: 52px solid transparent;
    border-right: 52px solid transparent;
    border-left: 52px solid transparent;
    position: absolute;
    left: -104px;
    top: -26px;
    transform: translate(50%,50%)
    
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-bottom: 52px solid transparent;
    border-right: 52px solid transparent;
    border-left: 52px solid transparent;
    position: absolute;
    transform: translate(50%,50%);
    left: -103px;
    top: 25px;
}



.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    border-left: 52px solid transparent;
    position: absolute;
    transform: translate(50%,50%);
    top: -50px;
    left: -78px;
}


.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    right: -50px;
}


.header_menu--item-1{
   position: absolute;
   top: -50px;
   left: -20px;
   transform: translate(50%,50%);
   color: white;
   font-size:14px;
   font-weight: 700;
}


.header_menu--item-2{
    
    position: absolute;
    top: -20px;
    left: -50px;
    transform: translate(50%,50%);
    color: white;
    font-size:14px;
    font-weight: 700;
 }

 .header_menu--item-3{
    
    position: absolute;
    top: -15px;
    right: -30px;
    transform: translate(50%,50%);
    color: white;
    font-size:14px;
    font-weight: 700;
 }




 .header_menu--item-4{
    position: absolute;
    top: 15px;
    left: -20px;
    transform: translate(50%,50%);
    color: white;
    font-size:14px;
    font-weight: 700;
 }
