* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 1920px;
    margin: 0 auto;
   
}

:root {
    --color-main: #e84545;
}

header {
    width: 1920px;
    height: 1080px;
    background: url(./image/img-pip@2x\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: brightness(80%);
    z-index: 1;
   
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.header_top {
    display: flex;
    justify-content: space-between;
    padding: 32px;

}

.header_top-logo {}

.header_top-menu--list {
    color: white;
    list-style: none;
    position: relative;
    padding-right: 50px;
}

.header_top-menu--list::before {
    content: "";
    display: block;
    position: absolute;
    width: 141px;
    height: 1px;
    top: 0px;
    left: -120px;
    transform: rotate(45deg) translate(50%, 50%);
    background-color: var(--color-main);
}

.header_top-menu--list::after {
    content: "";
    display: block;
    position: absolute;
    width: 141px;
    height: 1px;
    top: 100px;
    left: -120px;
    transform: rotate(-45deg) translate(50%, 50%);
    background-color: var(--color-main);
}

.header_top-menu--items {
    position: relative;
    cursor: pointer;
}



.arrow-down {
    width: 0;
    height: 0;
    z-index: 1;
    border-top: 52px solid transparent;
    border-right: 52px solid transparent;
    border-left: 52px solid transparent;
    position: absolute;
    left: -104px;
    top: -26px;
    transform: translate(50%, 50%);
    transition: all linear 0.5s;

}



.arrow-up {
    width: 0;
    height: 0;
    border-bottom: 52px solid transparent;
    border-right: 52px solid transparent;
    border-left: 52px solid transparent;
    position: absolute;
    transform: translate(50%, 50%);
    left: -103px;
    top: 25px;

    transition: all linear 0.5s;
}



.arrow-left {
    width: 0;
    height: 0;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    border-left: 52px solid transparent;
    position: absolute;
    transform: translate(50%, 50%);
    top: -50px;
    left: -75px;
    transition: all linear 0.5s;

}


.arrow-right {
    width: 0;
    height: 0;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    border-right: 52px solid #E84545;
    position: absolute;
    right: -52px;

    transition: all linear 0.5s;

}

.arrow-right>input {
    position: absolute;
    top: -10px;
    right: 25px;
    width: 200px;
    background-color: transparent;
    padding: 5px;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid #0C0B09;
    z-index: 5;
}

.arrow-right>input::placeholder{
    color:white;
}

.arrow-right>input:focus{
    border-bottom: 1px solid #ffffff;
}



.header_menu--item-1 {


    position: absolute;
    top: -85px;
    left: -50px;
    transform: translate(50%, 50%);
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
    z-index: 10;
}

.header_menu--item-2 {
    position: absolute;
    top: -45px;
    left: -80px;
    transform: translate(50%, 50%);
    color: white;

    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    z-index: 10;
}

.header_menu--item-3 {
    position: absolute;
    top: -45px;
    right: -35px;
    transform: translate(50%, 50%);
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
    z-index: 10;
}

.header_menu--item-4 {
    position: absolute;


    top: -10px;
    left: -47px;
    transform: translate(50%, 50%);
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
    z-index: 10;
}

.header_menu--links{
    position: absolute;
    top:120px;
    left: -12px;
    list-style: none;
}

.header_menu--links > li {
    margin-bottom: 5px;
} 

.header_menu--links > li > a > img {
   width: 24px;
   height: 24px;
   filter: brightness(60%);
   transition: all linear 0.5s;
} 

.header_menu--links > li > a > img:hover{
    position: absolute;
    bottom:0;
    border:3px solid var(--color-main);
    box-shadow: 0px 0px 20px orangered;
    border-radius: 50%;
}

.header_bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 32px;
    padding-right: 32px;
}

.header_bottom-1{
    width: 281px;
    height: 76px;
    background-color: black;
    border-left: 5px solid var(--color-main);
    padding-left: 10px;
    display: flex;
    justify-content:start;
    align-items:center;
}

.header_bottom-1 > h6{
    font-size: 14px;
    color: var(--color-main);
    font-weight:700;
    line-height: 21px;
}

.header_bottom-1 > p{
    font-size: 18px;
    color:white;
    font-weight:700;
    line-height: 21px;;
}

.header_bottom-2{
    position: relative;
}

.header_bottom-2::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: -30px;
    width: 473px;
    height: 1px;
    background-color: var(--color-main);
}

.header_bottom-2::after{
    content: "";
    position: absolute;
    top: 50px;
    left: -120px;
    width: 216px;
    height: 1px;
    transform: rotate(90deg);
    background-color: var(--color-main);
}

.header_bottom-2 > h2{
    font-size:70px;
    font-weight: 700;
    color: var(--color-main);
    line-height: 85px;
}

.header_bottom-2 > span{
    display: block;
    color: var(--color-main);
    line-height: 21px;
    font-size: 18px;
}

.header_bottom-2 > p{
    color: white;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.header_bottom-3 > h6{
    font-size: 18px;
    color: var(--color-main);
    font-weight:700;
    line-height: 21px;
}

.header_bottom-3 > p{
    font-size: 18px;
    color:white;
    font-weight:700;
    line-height: 21px;;
}

.header_bottom-4 > h6{
    font-size: 18px;
    color: var(--color-main);
    font-weight:700;
    line-height: 21px;
}

.header_bottom-4 > p{
    font-size: 18px;
    color:white;
    font-weight:700;
    line-height: 21px;;
}

section{
    background-color: #1C1C1C;
}

.section_top{
    margin-left: 140px;
    width: 920px;
    height: 670px;
}

.section_top-left > .title-2{
    display: block;
    color: white;
    font-size: 56px;
    font-weight:600;
    margin-left: 200px;
}

.title > span{
    font-size: 160px;
    color:var(--color-main)
}